@page
@model IndexModel
@using Blog_MVC.Services.Interfaces
@using Blog_MVC.Models
@using Blog_MVC.Enums
@inject IImageService _ImageService

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row ms-5">
    <div class="col-md-6">
        <form id="profile-form" class="text-dark" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label">E-mail Address</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control bg-light" required />
                <label asp-for="Input.FirstName" class="form-label">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control bg-light" required />
                <label asp-for="Input.LastName" class="form-label">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control bg-light" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @*<label asp-for="Input.BlogUserImage" class="control-label text-light"></label>*@
                    <img id="blogUserImage" class="img-fluid mb-3" src="@_ImageService.ConvertByteArrayToFile(Model.Input.ImageData, Model.Input.ImageType, (int)DefaultImage.BlogPostImage)" />
                    <input type="file" asp-for="Input.BlogUserImage" class="form-control" accept=".png,.jpg,.jpeg,.gif,.svg"
                           onchange="document.getElementById('blogUserImage').src= window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="Input.BlogUserImage" class=text-danger></span>
                </div>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary rounded-pill mb-5">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
