@model Blog_MVC.Models.Category

@{
    ViewData["Title"] = "Create";
}

<div class="post-single-wrapper axil-section-gap">
    <div class="container mt-5 col-md-6">
        <form asp-action="Create" asp-controller="Categories" method="post" enctype="multipart/form-data">
            <h3 class="lightText">Add a New Category</h3>
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Category Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <label asp-for="CategoryImage" class="control-label">Category Image</label><br />
                    <img id="categoryImage" class="img-fluid border rounded-3 m-2" style="max-height:300px" src="~/img/DefaultBlog.png" />
                    <input asp-for="CategoryImage" class="form-control mt-3" accept=".png,.jpg,.jpeg,.gif,.svg"
                           onchange="document.getElementById('categoryImage').src= window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>
            <div class="form-group row justify-content-between">
                <div class="col-3">
                    <input type="submit" value="Create" class="btn btn-primary btn-lg rounded-pill" />
                </div>
                <div class="col-3 text-end">
                    <a asp-action="Index" class="btn btn-primary btn-lg rounded-pill b2">Never Mind</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
