@model Blog_MVC.Models.Tag

@{
    ViewData["Title"] = "Edit";
}

<h4 class="ms-5 mt-5">Edit This Tag Name</h4>
<hr />
<div class="row ms-5">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control bg-light text-dark" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-6 text-start"><input type="submit" value="Save" class="btn btn-primary btn-lg rounded-pill" /></div>
                <div class="col-6 text-end">
                    <a asp-action="Index" class="btn btn-primary rounded-pill">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
